@keyframes zoom {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.3;
  }
  100% {
    width: 1500px;
    height: 1500px;
    opacity: 0;
  }
}

.btn--home--animation div {
  height: 100%;
  display: grid;
  place-items: center;
  transition: transform 0.5s cubic-bezier(0.42, 0, 0.58, 1);
  pointer-events: none;
}
.btn--home--animation:hover div {
  transform: translateY(-100%);
  text-decoration: none;
}




